IoT_Keypad.flow
[
    {
        "id": "67f1efdc.110188",
        "type": "tab",
        "label": "IoT Keypad",
        "disabled": false,
        "info": ""
    },
    {
        "id": "30143f44.a3c3e8",
        "type": "mqtt in",
        "z": "67f1efdc.110188",
        "name": "Message",
        "topic": "Arduino/Keypad/nanoClient/Message",
        "qos": "2",
        "datatype": "auto",
        "broker": "f32dd71f.7c852",
        "nl": false,
        "rap": false,
        "x": 80,
        "y": 480,
        "wires": [
            [
                "41bd1087.82e87",
                "266b721f.473d0e"
            ]
        ]
    },
    {
        "id": "41bd1087.82e87",
        "type": "switch",
        "z": "67f1efdc.110188",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "[0-9]",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "[\\*\\#]",
                "vt": "str",
                "case": false
            },
            {
                "t": "regex",
                "v": "[a-z]",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "a0fa172e.12b3c"
            ],
            [
                "e951bbf3.7e90c8"
            ],
            [
                "a3c9ded4.b09598"
            ]
        ]
    },
    {
        "id": "a0fa172e.12b3c",
        "type": "switch",
        "z": "67f1efdc.110188",
        "name": "Numbers",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 10,
        "x": 380,
        "y": 220,
        "wires": [
            [
                "261e1818.fd02f8"
            ],
            [
                "c90e7db6.8a82f"
            ],
            [
                "a37c4099.3528d"
            ],
            [
                "8c0855cd.68b388"
            ],
            [
                "f627441.1d8a9b8"
            ],
            [
                "23398b41.849d64"
            ],
            [
                "3439a40d.49f7bc"
            ],
            [
                "477a4cd6.fbd194"
            ],
            [
                "1e363993.46fcd6"
            ],
            [
                "2c309c2e.3d2154"
            ]
        ]
    },
    {
        "id": "a3c9ded4.b09598",
        "type": "switch",
        "z": "67f1efdc.110188",
        "name": "Letters",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "A",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "B",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "C",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "D",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "94a22f0a.8a6d4"
            ],
            [
                "81371de5.c7e41"
            ],
            [
                "40d2093d.283f98"
            ],
            [
                "5fd1f360.77e72c"
            ]
        ]
    },
    {
        "id": "e951bbf3.7e90c8",
        "type": "switch",
        "z": "67f1efdc.110188",
        "name": "Symbols",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "*",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "#",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 480,
        "wires": [
            [
                "18cbd6ec.370b69"
            ],
            [
                "8d59ed2d.2c3aa"
            ]
        ]
    },
    {
        "id": "a8dfea2e.904b6",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "A",
        "info": "",
        "x": 770,
        "y": 560,
        "wires": []
    },
    {
        "id": "248d5bb3.22bb0c",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "B",
        "info": "",
        "x": 770,
        "y": 600,
        "wires": []
    },
    {
        "id": "a46ba32e.9346d",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "C",
        "info": "",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "eb3b1314.a03c4",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "D",
        "info": "",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "266b721f.473d0e",
        "type": "debug",
        "z": "67f1efdc.110188",
        "name": "wtf",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 540,
        "wires": []
    },
    {
        "id": "4787e954.dca8f8",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 40,
        "wires": []
    },
    {
        "id": "ab11f967.ca9318",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 80,
        "wires": []
    },
    {
        "id": "78928728.913068",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 120,
        "wires": []
    },
    {
        "id": "884190b7.fcccb",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 160,
        "wires": []
    },
    {
        "id": "ba2a4e96.38183",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 200,
        "wires": []
    },
    {
        "id": "573426cb.688fb8",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 240,
        "wires": []
    },
    {
        "id": "bb32bce.4eb6e4",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 280,
        "wires": []
    },
    {
        "id": "edbcc362.8a038",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe187230.31bad",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 360,
        "wires": []
    },
    {
        "id": "5c8a909e.ffc5b",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 400,
        "wires": []
    },
    {
        "id": "bdded2e4.4994d",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "93579c63.f7078",
            "54e93366.ac80ac",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 560,
        "wires": []
    },
    {
        "id": "5c362ee6.22b7e",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "93579c63.f7078",
            "54e93366.ac80ac",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 680,
        "wires": []
    },
    {
        "id": "55a67f69.48409",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "93579c63.f7078",
            "54e93366.ac80ac",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 640,
        "wires": []
    },
    {
        "id": "28dca17.38b0b5e",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "93579c63.f7078",
            "54e93366.ac80ac",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 600,
        "wires": []
    },
    {
        "id": "a09ae489.32bed8",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 500,
        "wires": []
    },
    {
        "id": "e6840c01.acfc8",
        "type": "link out",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "5f2ccefb.beed3",
            "af2b73ea.20735"
        ],
        "x": 855,
        "y": 460,
        "wires": []
    },
    {
        "id": "30f4143a.aa5cec",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "1",
        "info": "",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "cd085a34.5de048",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "2",
        "info": "",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "d5ea9592.6ebe48",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "3",
        "info": "",
        "x": 770,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed59c9eb.88ba48",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "4",
        "info": "",
        "x": 770,
        "y": 160,
        "wires": []
    },
    {
        "id": "ed0ca1ab.92b6c",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "5",
        "info": "",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "d11b03a2.cbbce",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "6",
        "info": "",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "f396db9f.0f3878",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "7",
        "info": "",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "e65e4f89.c0af4",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "8",
        "info": "",
        "x": 770,
        "y": 320,
        "wires": []
    },
    {
        "id": "54ea4482.f0ca4c",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "9",
        "info": "",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "5499770.f640b88",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "0",
        "info": "",
        "x": 770,
        "y": 400,
        "wires": []
    },
    {
        "id": "aaf519f7.02d078",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "#",
        "info": "",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "c6b946d2.448628",
        "type": "comment",
        "z": "67f1efdc.110188",
        "name": "*",
        "info": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "18cbd6ec.370b69",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "Say: bork",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "bork",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "e6840c01.acfc8"
            ]
        ]
    },
    {
        "id": "8d59ed2d.2c3aa",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "Say: bork",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Say wut?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "a09ae489.32bed8"
            ]
        ]
    },
    {
        "id": "2c309c2e.3d2154",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "Dang!",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Dang!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 400,
        "wires": [
            [
                "5c8a909e.ffc5b"
            ]
        ]
    },
    {
        "id": "1e363993.46fcd6",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "OogaBooga",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OogaBooga",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "fe187230.31bad"
            ]
        ]
    },
    {
        "id": "3439a40d.49f7bc",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "Bull Shit!",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bull Shit!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 280,
        "wires": [
            [
                "bb32bce.4eb6e4"
            ]
        ]
    },
    {
        "id": "261e1818.fd02f8",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "Fucking Retard!",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Fucking Retard!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 40,
        "wires": [
            [
                "4787e954.dca8f8"
            ]
        ]
    },
    {
        "id": "c90e7db6.8a82f",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "well... shit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "well... shit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 80,
        "wires": [
            [
                "ab11f967.ca9318"
            ]
        ]
    },
    {
        "id": "a37c4099.3528d",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "woot woot",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "woot woot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "78928728.913068"
            ]
        ]
    },
    {
        "id": "8c0855cd.68b388",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "it jit",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "it jit",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "884190b7.fcccb"
            ]
        ]
    },
    {
        "id": "f627441.1d8a9b8",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "Bloody Hell!",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bloody Hell!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 200,
        "wires": [
            [
                "ba2a4e96.38183"
            ]
        ]
    },
    {
        "id": "23398b41.849d64",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "Yee Ha!",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Yee Ha!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 240,
        "wires": [
            [
                "573426cb.688fb8"
            ]
        ]
    },
    {
        "id": "477a4cd6.fbd194",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "Oh poop",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Speech",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "Scotts Speaker",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Oh poop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 320,
        "wires": [
            [
                "edbcc362.8a038"
            ]
        ]
    },
    {
        "id": "94a22f0a.8a6d4",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "toggle Screens",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "TasmOTA/Screens/cmnd/POWER",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "toggle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 560,
        "wires": [
            [
                "bdded2e4.4994d"
            ]
        ]
    },
    {
        "id": "5fd1f360.77e72c",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "toggle NightLight",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "cmnd/Night_Light/POWER",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "toggle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "5c362ee6.22b7e"
            ]
        ]
    },
    {
        "id": "81371de5.c7e41",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "toggle PantryLight",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "cmnd/PantryLight/POWER",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "toggle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 600,
        "wires": [
            [
                "28dca17.38b0b5e"
            ]
        ]
    },
    {
        "id": "40d2093d.283f98",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "toggle BeerLight",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Button Pressed",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "type",
                "pt": "msg",
                "to": "Control",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "target",
                "pt": "msg",
                "to": "cmnd/Beer_Light/POWER",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "toggle",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 640,
        "wires": [
            [
                "55a67f69.48409"
            ]
        ]
    },
    {
        "id": "c566ad0b.aadf5",
        "type": "change",
        "z": "67f1efdc.110188",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "target",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 80,
        "wires": [
            [
                "c895d910.352f08",
                "ae88fa.ec8a8708"
            ]
        ]
    },
    {
        "id": "af2b73ea.20735",
        "type": "link in",
        "z": "67f1efdc.110188",
        "name": "",
        "links": [
            "4787e954.dca8f8",
            "ab11f967.ca9318",
            "78928728.913068",
            "884190b7.fcccb",
            "ba2a4e96.38183",
            "573426cb.688fb8",
            "bb32bce.4eb6e4",
            "edbcc362.8a038",
            "fe187230.31bad",
            "5c8a909e.ffc5b",
            "a09ae489.32bed8",
            "e6840c01.acfc8",
            "bdded2e4.4994d",
            "5c362ee6.22b7e",
            "55a67f69.48409",
            "28dca17.38b0b5e"
        ],
        "x": 935,
        "y": 40,
        "wires": [
            [
                "c566ad0b.aadf5"
            ]
        ]
    },
    {
        "id": "c895d910.352f08",
        "type": "debug",
        "z": "67f1efdc.110188",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 40,
        "wires": []
    },
    {
        "id": "ae88fa.ec8a8708",
        "type": "mqtt out",
        "z": "67f1efdc.110188",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f32dd71f.7c852",
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "f32dd71f.7c852",
        "type": "mqtt-broker",
        "name": "",
        "broker": "skynet",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
